<div class="background">
    <div class="footer-wrapper">
        <div class="credit">
            <p>©️ 2021 京都市芸バーチャル展</p>
        </div>
        <div class="sns-icons">
            <a href="https://cluster.mu/w/6c264e3c-9830-4114-80ce-1755dd0b785d" target="_blank"><img src="{{ url_for('static', filename='images/cluster-icon-footer.png') }}"></a>
            <a href="https://twitter.com/kcua_virtual" target="_blank"><img src="{{ url_for('static', filename='images/twitter-icon-footer.png') }}"></a>
            <a href="https://note.com/kcua_virtual" target="_blank"><img src="{{ url_for('static', filename='images/note-icon-footer.png') }}"></a>
            <a href="mailto:kcua.virtual@gmail.com"><img src="{{ url_for('static', filename='images/mail-icon-footer.png') }}"></a>
        </div>
    </div>
</div>
