<nav class="navbar navbar-expand-md navbar-light" style= background-color:rgba(255,255,255,0.8);>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#entry">トップ</a>
      <a class="nav-item nav-link" href="#about">京芸V展について</a>
      <a class="nav-item nav-link" href="#contents">展覧会一覧</a>
      <a class="nav-item nav-link" href="#event">イベント</a>
      <a class="nav-item nav-link" href="#news">ニュース</a>
      <a class="nav-item nav-link" href="mailto:kcua.virtual@gmail.com">お問合せ</a>
    </div>
  </div>
</nav>

<div class="sns-icon">
  <a href="https://cluster.mu/u/SawarabiWarabi" target="_blank"><img src="{{ url_for('static', filename='images/cluster_icon.png') }}"></a>
  <a href="https://twitter.com/kcua_virtual" target="_blank"><img src="{{ url_for('static', filename='images/twitter_icon.png') }}"></a>
  <a href="https://note.com/kcua_virtual" target="_blank"><img src="{{ url_for('static', filename='images/note_icon.png') }}"></a>
</div>