/* iPhone */
/* iPad */
/* iPhone X */
/* -------------------- Base -------------------- */
html {
  font-size: 10px; }

body {
  font-size: 1.6rem; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4.0rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 3.2rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 1025px) {
  h3 {
    font-size: 2.8rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 1025px) {
  h4 {
    font-size: 2.4rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 1025px) {
  h5 {
    font-size: 2.0rem; } }

/* -------------------- navbar -------------------- */
.navbar {
  position: fixed;
  width: 100%; }
  .navbar .navbar-nav .nav-item {
    font-size: 18px;
    margin-left: 30px; }
  @media screen and (min-width: 895px) {
    .navbar {
      height: 60px; }
      .navbar .navbar-nav .nav-item {
        margin-left: 60px; } }

.sns-icon {
  position: fixed;
  display: flex;
  right: 0;
  margin-top: 30px;
  margin-right: 50px;
  flex-direction: column;
  float: right; }
  @media screen and (max-width: 560px) {
    .sns-icon {
      margin-right: 12px; } }
  .sns-icon img {
    max-width: 70px;
    margin-top: 35px; }
    @media screen and (max-width: 560px) {
      .sns-icon img {
        margin-top: 30px;
        width: 40px; } }

/*# sourceMappingURL=main.css.map */
