/* iPhone */
/* iPad */
/* iPhone X */
/* -------------------- Base -------------------- */
html {
  font-size: 10px; }

body {
  font-size: 1.6rem; }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h1 {
    font-size: 3.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.0rem; } }
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4.0rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h2 {
    font-size: 2.8rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 3.2rem; } }
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 3.2rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h3 {
    font-size: 2.4rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h3 {
    font-size: 2.8rem; } }
@media screen and (min-width: 1025px) {
  h3 {
    font-size: 2.8rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h4 {
    font-size: 2.0rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h4 {
    font-size: 2.4rem; } }
@media screen and (min-width: 1025px) {
  h4 {
    font-size: 2.4rem; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 321px) and (max-width: 375px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  h5 {
    font-size: 1.6rem; } }
@media screen and (min-width: 415px) and (max-width: 768px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h5 {
    font-size: 2.0rem; } }
@media screen and (min-width: 1025px) {
  h5 {
    font-size: 2.0rem; } }

/* -------------------- navbar -------------------- */
.navbar {
  z-index: 10;
  position: fixed;
  width: 100%; }
  .navbar .navbar-nav .nav-item {
    font-size: 18px;
    margin-left: 30px; }
  @media screen and (min-width: 895px) {
    .navbar {
      height: 60px; }
      .navbar .navbar-nav .nav-item {
        margin-left: 60px; } }
  @media screen and (max-width: 767px) {
    .navbar .navbar-nav .nav-item {
      margin-left: 0px; } }

.sns-icon {
  z-index: 10;
  position: fixed;
  display: flex;
  right: 0;
  margin-top: 40px;
  margin-right: 50px;
  flex-direction: column;
  float: right; }
  @media screen and (max-width: 600px) {
    .sns-icon {
      margin-right: 12px; } }
  .sns-icon img {
    max-width: 70px;
    margin-top: 35px; }
    @media screen and (max-width: 767px) {
      .sns-icon img {
        margin-top: 15px;
        width: 35px; } }

/* -------------------- Bootstrap Variables -------------------- */
/* -------------------- Entry -------------------- */
.entry-section {
  width: 100%;
  height: 550px;
  background-image: url("/static/images/entry_background.png");
  background-size: cover;
  background-position-x: center; }
  .entry-section .title-row {
    height: 440px; }
    @media screen and (min-width: 0px) and (max-width: 576px) {
      .entry-section .title-row .title {
        text-align: center; } }
    .entry-section .title-row .title .title-img {
      margin-top: 80px; }
      @media screen and (min-width: 0px) and (max-width: 576px) {
        .entry-section .title-row .title .title-img {
          width: 95%;
          object-fit: cover; } }
      @media screen and (min-width: 577px) {
        .entry-section .title-row .title .title-img {
          margin-left: 25px;
          width: 519px;
          object-fit: cover; } }
    .entry-section .title-row .title .title-message {
      text-align: left;
      font: normal 18 Hiragino Kaku Gothic ProN;
      font-weight: bold;
      letter-spacing: 0px;
      color: #0A2463;
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 25px; }
  .entry-section .bottom-row {
    height: 110px; }
    .entry-section .bottom-row .go-venue-box {
      padding: 0px; }
      @media screen and (min-width: 0px) and (max-width: 576px) {
        .entry-section .bottom-row .go-venue-box {
          width: 100%;
          height: 55px; } }
      @media screen and (min-width: 577px) {
        .entry-section .bottom-row .go-venue-box {
          height: 110px; } }
      .entry-section .bottom-row .go-venue-box .go-venue {
        width: 100%;
        height: 90%;
        color: white;
        background: #1E96FB 0% 0% no-repeat padding-box;
        position: absolute;
        bottom: 0px;
        font: bold 23px Hiragino Sans;
        letter-spacing: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .entry-section .bottom-row .announcement-box {
      padding: 0px; }
      @media screen and (min-width: 0px) and (max-width: 576px) {
        .entry-section .bottom-row .announcement-box {
          width: 100%;
          height: 55px;
          font-size: 12px; } }
      @media screen and (min-width: 577px) {
        .entry-section .bottom-row .announcement-box {
          font-size: 18px;
          height: 110px; } }
      .entry-section .bottom-row .announcement-box .announcement {
        color: white;
        background: #3C3C3E 0% 0% no-repeat padding-box;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: left;
        font: bold Hiragino Sans;
        font-weight: bold;
        letter-spacing: 0px;
        padding: 15px;
        display: flex;
        -webkit-align-items: center;
        align-items: center; }
        @media screen and (min-width: 0px) and (max-width: 576px) {
          .entry-section .bottom-row .announcement-box .announcement {
            height: 100%; } }
        @media screen and (min-width: 577px) {
          .entry-section .bottom-row .announcement-box .announcement {
            height: 70%; } }

/* -------------------- movie -------------------- */
.movie-section {
  text-align: center;
  width: 100%;
  background-image: url("/static/images/movie-background.png"); }
  .movie-section video {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 50%; }
    @media screen and (min-width: 501px) and (max-width: 1200px) {
      .movie-section video {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 80%; } }
    @media screen and (min-width: 0) and (max-width: 500px) {
      .movie-section video {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%; } }

/* -------------------- about -------------------- */
.about-section {
  width: 100%;
  background-image: url("/static/images/about-background.png");
  padding-top: 60px;
  padding-bottom: 60px; }
  .about-section h1 {
    width: 80%;
    margin: auto;
    color: rgba(29, 149, 251, 0.5);
    font-size: 90px;
    font-weight: 900; }
    @media screen and (min-width: 0px) and (max-width: 1244px) {
      .about-section h1 {
        font-size: 50px; } }
    @media screen and (min-width: 0px) and (max-width: 481px) {
      .about-section h1 {
        font-size: 30px; } }
  .about-section .base-square {
    margin: auto;
    width: 80%;
    background-color: rgba(29, 149, 251, 0.5);
    padding-top: 40px;
    padding-bottom: 40px; }
    .about-section .base-square .about-contents {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center; }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        .about-section .base-square .about-contents {
          display: inline-block;
          text-align: center; } }
      .about-section .base-square .about-contents .about-img {
        width: 30%; }
        @media screen and (min-width: 0px) and (max-width: 767px) {
          .about-section .base-square .about-contents .about-img {
            width: 60%; } }
      .about-section .base-square .about-contents p {
        width: 51%;
        color: #ffffff;
        margin-left: 60px;
        font-size: 20px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media screen and (min-width: 1201px) and (max-width: 1650px) {
          .about-section .base-square .about-contents p {
            font-size: 16px;
            line-height: 35px; } }
        @media screen and (min-width: 973px) and (max-width: 1200px) {
          .about-section .base-square .about-contents p {
            font-size: 14px;
            line-height: 35px; } }
        @media screen and (min-width: 768px) and (max-width: 972px) {
          .about-section .base-square .about-contents p {
            font-size: 13px;
            line-height: 25px;
            margin-left: 30px;
            width: 55%; } }
        @media screen and (min-width: 0px) and (max-width: 767px) {
          .about-section .base-square .about-contents p {
            width: 85%;
            font-size: 13px;
            line-height: 25px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
            text-align: left; } }

/* -------------------- about -------------------- */
.news-section {
  width: 100%;
  background-image: url("/static/images/news_background.png");
  padding-top: 60px;
  padding-bottom: 60px; }
  .news-section h1 {
    text-align: right;
    width: 80%;
    margin: auto;
    color: rgba(255, 233, 49, 0.6);
    font-size: 90px;
    font-weight: 900; }
    @media screen and (min-width: 0px) and (max-width: 1244px) {
      .news-section h1 {
        font-size: 50px; } }
    @media screen and (min-width: 0px) and (max-width: 481px) {
      .news-section h1 {
        font-size: 30px; } }
  .news-section .base-square {
    margin: auto;
    width: 80%;
    background-color: rgba(255, 233, 49, 0.5);
    padding-top: 40px;
    padding-bottom: 40px; }
    .news-section .base-square .about-contents {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center; }
      @media screen and (min-width: 551px) and (max-width: 880px) {
        .news-section .base-square .about-contents .twitter-timeline {
          margin-left: 40px;
          margin-right: 40px; } }
      @media screen and (min-width: 0px) and (max-width: 550px) {
        .news-section .base-square .about-contents .twitter-timeline {
          height: 400px !important;
          margin-left: 20px;
          margin-right: 20px; } }

/*# sourceMappingURL=main.css.map */
