<div class="about-section">
    <h1>京芸V展について</h1>
    <div class="base-square">
        <div class="about-contents">
            <img class="about-img" src="{{ url_for('static', filename='images/sample_image1.png')}} ">
            <p>京都市芸バーチャル展の目的は「リアルの代替ではない、ひとつの選択肢としてのバーチャル展を確立する」ことです。<br>2020年、私たちは思わぬ脅威を前に新しいことに挑戦してきました。展覧会においてそれは、Webサイトを活用したオンライン展示や、バーチャル空間での展示でした。それらは最初はリアルで開催できない展覧会の代わりとして生まれたかもしれません。しかし私たちがそこで見たものは、決してリアルの代替というだけでは済ませられない、新たな可能性の数々でした。<br>その可能性を朽ちさせたくない。私たちは、たとえリアルでの展覧会が再開したとしても、それらと共存していくバーチャル展を構築していきます。</p>
        </div>
    </div>
</div>