<div class="contents-section">
    <h1>展覧会一覧</h1>
    <div class="base-square">
        <div class="contents-contents">
            <div class="contents-text-bottun">
                <p>『Kou展』、『Unseen Sights』『#共創展』の3つの展覧会を開催！<br>2020年12月より好評運営中の『Vギャラ』も合わせて公開中です。<br>それぞれ違ったコンセプトを持った展覧会を、ぜひお楽しみください。<br>clusterをインストールして展覧会へ遊びに行きましょう！</p>
                <div class="contents-bottun">
                    <a href="#">clusterの使い方  ></a>
                </div>
                <div class="contents-bottun">
                    <a href="#">展覧会全体MAP  ></a>
                </div>
            </div>
            <!----- thmbnail ----->
            <div class="thmbnail-button">
                <div class="upper-row">
                    <a href="#modal-Kou"><img src="{{ url_for('static', filename='images/contents-thumbnail-Kou.png')}} "></a>
                    <a href="#modal-Kou"><img src="{{ url_for('static', filename='images/contents-thumbnail-Kou.png')}} "></a>
                </div>
                <div class="lower-row">
                    <a href="#modal-Kou"><img src="{{ url_for('static', filename='images/contents-thumbnail-Kou.png')}} "></a>
                    <a href="#modal-Kou"><img src="{{ url_for('static', filename='images/contents-thumbnail-Kou.png')}} "></a>
                </div>
            </div>

            <!----- modal-window ----->
            <div class="modal-wrapper" id="modal-Kou">
                <a href="#!" class="modal-overlay"></a>
                <div class="modal-window">
                    <a href="#!" class="modal-close">×</a>
                    <div class="modal-content">
                        <img src="{{ url_for('static', filename='images/thumbnail-Kou.png')}} ">
                        <div class="description">
                            <p>texttexttext</p>
                            <div class="modal-link">
                                <div class="individual-button">
                                    <p>展覧会へはこちらから</p>
                                    <div class="modal-button">
                                        <a href="#">会場へ向かう  ></a>
                                    </div> 
                                </div>
                                <div class="indicidual-button">
                                    <p>もっと知りたい人は</p>
                                    <div class="modal-button">
                                        <a href="#">詳細を見る  ></a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

