<div class="entry-section container-fluid" id="entry">
    <div class="title-row row">
        <div class="title col-12">
            <img class="title-img" src="{{ url_for('static', filename='images/logo.png')}} " alt="logo" />
            <div class="title-message">
                バーチャル展の可能性を切り拓く
            </div>
        </div>
    </div>
    <div class="bottom-row row">
        <div class="go-venue-box col-sm-4">
            <a href="#"><div class="go-venue">
                会場へ向かう >
            </div></a>
        </div>
        <div class="announcement-box col-sm-8">
            <div class="announcement">
                イベント開催決定! メインイベントに加えギャラリートークも!
            </div>
        </div>
    </div>
</div>