<div class="entry-section container-fluid" id="entry">
    <div class="title-row row">
        <div class="title col-12">
            <img class="title-img" src="{{ url_for('static', filename='images/logo.png')}} " alt="logo" />
            <div class="title-message">
                バーチャル展の可能性を切り拓く
            </div>
        </div>
    </div>
    <div class="bottom-row row">
        <div class="go-venue-box col-sm-4">
            <a href="https://cluster.mu/w/6c264e3c-9830-4114-80ce-1755dd0b785d" target="_blank"><div class="go-venue">
                会場へ向かう >
            </div></a>
        </div>
        <div class="announcement-box col-sm-8">
            <div class="announcement">
                2.27(sat)〜3.14(sun)　in バーチャルSNS「cluster」
            </div>
        </div>
    </div>
</div>