<div class="event-section">
    <h1>イベント</h1>
    <div class="base-square">
        <div class="event-contents">
            <h1>イベント開催決定！</h1>
            <div class="summary">
                <div class="contents-block">
                    <h2>ギャラリートーク</h2>
                    <p>11:00〜15:00</p>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <div class="event-bottun">
                        <p>詳細はこちら  ></p>
                    </div>
                </div>
                <div class="contents-block">
                    <h2>メインイベント</h2>
                    <p>20:30〜22:00</p>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <div class="event-bottun">
                        <p>詳細はこちら  ></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>