<div class="event-section" id="event">
    <h1>イベント</h1>
    <div class="base-square">
        <div class="event-contents">
            <h1>イベント開催決定！</h1>
            <div class="summary">
                <div class="contents-block">
                    <h2>ギャラリートーク</h2>
                    <h4>2月28日(日)</h4>
                    <h4>11:00〜14:30</h4>
                    <p>『Kou展』『Unseen Sights』『#共創展』<br>京都市芸バーチャル展で開催されている展覧会を、作家の解説を聞きながらみんなで鑑賞しましょう！<br>質問や感想を作家に直接届ける貴重な機会です。<br>詳しくは以下からclusterイベントページをご覧ください！</p>
                    <div class="event-bottun">
                        <a href="https://cluster.mu/e/c1e2d8a5-648d-453c-bb9d-4cca7a558209" target="_blank" rel=”noopener” rel=”noreferrer”>詳細はこちら  ></a>
                    </div>
                </div>
                <div class="contents-block">
                    <h2>メインイベント</h2>
                    <h4>3月7日(日)</h4>
                    <h4>20:30〜22:00</h4>
                    <p>京都市芸バーチャル展を盛り上げるメインイベントを開催！<br>ゲストトークでは、『Unseen Sights』出展作家・土屋咲瑛氏と、VR研究者であるゆみうす氏をお迎えし、バーチャル展について一緒に考えていきます。<br>詳しくは以下からclusterイベントページをご覧ください！</p>
                    <div class="event-bottun">
                        <a href="https://cluster.mu/e/b73b8f9b-7a70-4d1e-bbea-f00db5f932fe" target="_blank" rel=”noopener” rel=”noreferrer”>詳細はこちら  ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>