<div class="member-section">
    <h1>京芸V展企画クリエイター</h1>
    <div class="leader">
        <p>総合ディレクション/バーチャル空間制作</p>
        <a href="https://twitter.com/SawarabiWarabi?s=20" target="_blank">早蕨わらび</a>
    </div>
    <div class="member">
        <div class="individual-member">
            <p>「Unseen Sights」企画ディレクション</p>
            <a>Azumi</a>
        </div>
        <div class="individual-member">
            <p>「Vギャラ」/「Kou展」企画ディレクション</p>
            <a href="https://twitter.com/sho_jo_hi" target="_blank">Cataramo</a>
        </div>
        <div class="individual-member">
            <p>「#共創展」企画ディレクション/SNS運用</p>
            <a href="https://mobile.twitter.com/rakko_art" target="_blank">らっこ</a>
        </div>
        <div class="individual-member">
            <p>アートディレクター/WEBサイト制作</p>
            <a href="https://twitter.com/somi_sasa" target="_blank">創美ささ</a>
        </div>
    </div>
    <h2>【制作協力】</h2>
    <div class="sub-member">
        <div class="individual-member">
            <p>「#共創展」サムネイルデザイン</p>
            <a href="https://instagram.com/midnight_lip?igshid=1iu92j22rg0v4" target="_blank">Midnight Lip</a>
        </div>
        <div class="individual-member">
            <p>「Unseen Sights」サムネイルデザイン</p>
            <a href="https://twitter.com/hokkyokusei__" target="_blank">Seika</a>
        </div>
        <div class="individual-member">
            <p>「Kou展」サムネイルデザイン</p>
            <a>よしもとはるか</a>
        </div>
        <div class="individual-member">
            <p>プロジェクトロゴデザイン</p>
            <a>山田歩実</a>
        </div>
    </div>
</div>