<!DOCTYPE html>
<html lang="ja">
    <head  prefix=”og: http://ogp.me/ns#”>
        <!-- config -->
        <title>京都市芸バーチャル展</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        
        <!-- css -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        
        <!-- twitter card -->
        <meta name="twitter:card" content="summary_large_image" /> 
        <meta name="twitter:site" content="@kcua_virtual" /> 
        <!-- ogp -->
        <meta property="og:url" content="https://kcua-virtual.netlify.app/" /> 
        <meta property="og:title" content="京都市芸バーチャル展" /> 
        <meta property="og:type" content="website" />
        <meta property="og:description" content="「京都市立バーチャル展」公式WEBサイト" /> 
        <meta property="og:image" content="https://kcua-virtual.netlify.app/static/images/ogp-img.jpg " /> 
    </head>
    <body>
        {% include "partials/navbar.html" %}
        {% block content %}
        <!-- Contents -->

        {% endblock %}
        {% include "partials/footer.html" %}
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>