/* iPhone */
$iphone5se-width: 320px;
$iphone678-width: 375px;
$iphone678p-width: 414px;

/* iPad */
$ipad-width: 768px;
$ipadpro-width: 1024px; 

/* iPhone X */
$iphonex-width: 375px;
$iphonex-height: 812px;

/* -------------------- Base -------------------- */
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

h1 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 4.0rem;
    }
}

h2 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 3.2rem;
    }
}

h3 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.8rem;
    }
}

h4 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.4rem;
    }
}

h5 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.0rem;
    }
}


/* -------------------- navbar -------------------- */
$threshold-width: 560px;
.navbar {
    position: fixed;
    width: 100%;
    .navbar-nav{
        .nav-item{
            font-size: 18px;
            margin-left: 30px;
        }
    }
    @media screen and (min-width: 895px) {
        height: 60px;
        .navbar-nav {
            .nav-item {
                margin-left: 60px;
            }
        }
    }
}

.sns-icon {
    position: fixed;
    display: flex;
    right: 0;
    margin-top: 30px;
    margin-right: 50px;
    flex-direction: column;
    float: right;
    @media screen and (max-width: $threshold-width) {
        margin-right: 12px;
    }

    img{
        max-width: 70px;
        margin-top: 35px;
        @media screen and (max-width: $threshold-width) {
            margin-top: 30px;
            width: 40px;
        }
    }
}