/* iPhone */
$iphone5se-width: 320px;
$iphone678-width: 375px;
$iphone678p-width: 414px;

/* iPad */
$ipad-width: 768px;
$ipadpro-width: 1024px; 

/* iPhone X */
$iphonex-width: 375px;
$iphonex-height: 812px;

/* -------------------- Base -------------------- */
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

h1 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 3.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 4.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 4.0rem;
    }
}

h2 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 3.2rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 3.2rem;
    }
}

h3 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.8rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.8rem;
    }
}

h4 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.4rem;
    }
}

h5 {
    @media screen and (min-width: 0px) and (max-width: $iphone5se-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone5se-width+1px) and (max-width: $iphone678-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678-width+1px) and (max-width: $iphone678p-width) {
        font-size: 1.6rem;
    }
    @media screen and (min-width: $iphone678p-width+1px) and (max-width: $ipad-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipad-width+1px) and (max-width: $ipadpro-width) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: $ipadpro-width+1px){
        font-size: 2.0rem;
    }
}


/* -------------------- navbar -------------------- */
.navbar {
    z-index: 10;
    position: fixed;
    width: 100%;
    .navbar-nav{
        .nav-item{
            font-size: 18px;
            margin-left: 30px;
        }
    }
    @media screen and (min-width: 895px) {
        height: 60px;
        .navbar-nav {
            .nav-item {
                margin-left: 60px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .navbar-nav {
            .nav-item {
                margin-left: 0px;
            }
        }
    }
}

.sns-icon {
    z-index: 10;
    position: fixed;
    display: flex;
    right: 0;
    margin-top: 40px;
    margin-right: 50px;
    flex-direction: column;
    float: right;
    @media screen and (max-width: 600px) {
        margin-right: 12px;
    }

    img{
        max-width: 70px;
        margin-top: 35px;
        @media screen and (max-width: 767px) {
            margin-top: 15px;
            width: 35px;
        }
    }
}
/* -------------------- Bootstrap Variables -------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* -------------------- Entry -------------------- */
// definitions of variables
$entry-section-height: 550px;
$announcement-height: 100px;
$go-venue-pc-width: 300px;
.entry-section {
    width: 100%;
    height: $entry-section-height;
    background-image: url("/static/images/entry_background.png");
    background-size: cover;
    background-position-x: center;

    .title-row {
        height: $entry-section-height*0.8;
        .title {
            @media screen and (min-width: 0px) and (max-width: $sm) {
                text-align: center;
            }
            .title-img {
                margin-top: 80px;
                @media screen and (min-width: 0px) and (max-width: $sm) {
                    width: 95%;
                    object-fit: cover;
                }
                @media screen and (min-width: $sm+1px) {
                    margin-left: 25px;
                    width: 519px;
                    object-fit: cover;
                }
            }
            .title-message {
                text-align: left;
                font: normal 18 Hiragino Kaku Gothic ProN;
                font-weight: bold;
                letter-spacing: 0px;
                color: #0A2463;
                margin-top: 30px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }

    .bottom-row {
        height: $entry-section-height*0.2;
        .go-venue-box {
            padding: 0px;
            @media screen and (min-width: 0px) and (max-width: $sm) {
                width: 100%;
                height: $entry-section-height*0.1;
            }
            @media screen and (min-width: $sm+1px) {
                height: $entry-section-height*0.2;
            }
            .go-venue {
                width: 100%;
                height: 90%;
                color: white;
                background: #1E96FB 0% 0% no-repeat padding-box;
                position: absolute;
                bottom: 0px;
                // text font
                font: bold 23px Hiragino Sans;
                letter-spacing: 0px;
                // text position
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
        .announcement-box {
            padding: 0px;
            @media screen and (min-width: 0px) and (max-width: $sm) {
                width: 100%;
                height: $entry-section-height*0.1;
                font-size: 12px;
            }
            @media screen and (min-width: $sm+1px) {
                font-size: 18px;
                height: $entry-section-height*0.2;
            }
            .announcement {
                color: white;
                background: #3C3C3E 0% 0% no-repeat padding-box;
                width: 100%;
                @media screen and (min-width: 0px) and (max-width: $sm) {
                    height: 100%;
                }
                @media screen and (min-width: $sm+1px) {
                    height: 70%;
                }
                position: absolute;
                bottom:0px;
                // text font
                text-align: left;
                font: bold Hiragino Sans;
                font-weight: bold;
                letter-spacing: 0px;
                // text position
                padding: 15px;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
            }
        }
    }
}

/* -------------------- movie -------------------- */
.movie-section {
    text-align: center;
    width: 100%;
    background-image: url("/static/images/movie-background.png");
    video{
        margin-top: 80px;
        margin-bottom: 80px;
        width: 50%;
        @media screen and (min-width: 501px) and (max-width: 1200px) {
            margin-top: 60px;
            margin-bottom: 60px;
            width: 80%;
        }
        @media screen and (min-width: 0) and (max-width: 500px) {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 80%;
        }
    }
}

/* -------------------- about -------------------- */
.about-section {
    width: 100%;
    background-image: url("/static/images/about-background.png");
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
        width: 80%;
        margin: auto;
        color: rgba(29, 149, 251, 0.5);
        font-size: 90px;
        font-weight: 900;

        @media screen and (min-width: 0px) and (max-width: 1244px) {
            font-size: 50px;
        }

        @media screen and (min-width: 0px) and (max-width: 481px) {
            font-size: 30px;
        }
    }

    .base-square {
        margin: auto;
        width: 80%;
        background-color: rgba(29, 149, 251, 0.5);
        padding-top: 40px;
        padding-bottom: 40px;

        .about-contents {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;

            @media screen and (min-width: 0px) and (max-width: 767px) {
                display: inline-block;
                text-align: center;
            }

            .about-img {
                width: 30%;

                @media screen and (min-width: 0px) and (max-width: 767px) {
                    width: 60%;
                }
            }
    
            p {
                width: 51%;
                color: #ffffff;
                margin-left: 60px;
                font-size: 20px;
                line-height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 1201px) and (max-width: 1650px) {
                    font-size: 16px;
                    line-height: 35px;

                }

                @media screen and (min-width: 973px) and (max-width: 1200px) {
                    font-size: 14px;
                    line-height: 35px;

                }
                
                @media screen and (min-width: 768px) and (max-width: 972px) {
                    font-size: 13px;
                    line-height: 25px;
                    margin-left: 30px;
                    width: 55%;

                }
                
                @media screen and (min-width: 0px) and (max-width: 767px) {
                    width: 85%;
                    font-size: 13px;
                    line-height: 25px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 40px;
                    text-align: left;

                }
            }
        }
    }
}


/* -------------------- about -------------------- */
.news-section {
    width: 100%;
    background-image: url("/static/images/news_background.png");
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
        text-align: right;
        width: 80%;
        margin: auto;
        color: rgba(255, 233, 49, 0.6);
        font-size: 90px;
        font-weight: 900;

        @media screen and (min-width: 0px) and (max-width: 1244px) {
            font-size: 50px;
        }

        @media screen and (min-width: 0px) and (max-width: 481px) {
            font-size: 30px;
        }
    }

    .base-square {
        margin: auto;
        width: 80%;
        background-color: rgba(255, 233, 49, 0.5);
        padding-top: 40px;
        padding-bottom: 40px;

        .about-contents {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;

            .twitter-timeline {
                @media screen and (min-width: 551px) and (max-width: 880px) {
                    margin-left: 40px;
                    margin-right: 40px;
                }
               
                @media screen and (min-width: 0px) and (max-width: 550px) {
                    height: 400px !important;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}